/*
=============== 
Variables
===============
*/
:root {
	--clr-white: #fff;
	--clr-primary: #FF589B;
	--clr-btn-hover: #fd79ae;
	--clr-bg-banner: #FEEAE9;
	--clr-bg-img: #F1F1F1;
	--ff-primary: 'Poppins', sans-serif;
	--ff-secondary: 'Luxurious Roman', cursive;
	--spacing: 0.25rem;
	--radius: 0.25rem;
	--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  /* For testing purpose */
	--border: 2px solid red;
}

/*
=============== 
global classes
===============
*/
h1,
h2,
h3,
h4 {
	text-transform: capitalize;
}
.section-center{
	margin: 0 auto;
	max-width: 1170px;
}
.bg-panda-primary{
	background: var(--clr-primary);
}
.color-panda-primary{
	color: var(--clr-primary);
}
/*
======================
end of global classes
======================
*/

/*
=================
banner section
=================
*/
.section-banner{
  min-height: calc(100vh - 56px);
}
.custom-item{
	background: var(--clr-bg-banner);
}
.banner-img{
	width: 17rem;
}
@media screen and (min-width: 768px) {
	.banner-img{
		width: 75%;
	}
}
@media screen and (min-width: 992px) {
  .banner-img{
		width: 75%;
	}
	.custom-item{
		padding: 2rem 0;
	}
}
/*
======================
end of banner section
======================
*/

/*
=================
category section
=================
*/
.category-1{
	background: rgb(170, 170, 4);
}
.category-2{
	background: rgb(247, 43, 77);
}
.category-3{
	background: blue;
}
/*
========================
end of category section
========================
*/

/*
========================
shoes section
========================
*/
.section-shoes{
	background: #F4F4F4;
}
/*
========================
end of shoes section
========================
*/

/*
========================
email section
========================
*/
.bg-email-section{
	background: #FEEAE9;
}
.email-width{
	width: 75%;
}
@media screen and (min-width: 992px) {
  .email-width{
		width: 50%;
	}
}
/*
========================
end of email section
========================
*/
